#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service sony_sh /vendor/bin/init.sony.sh
    user root
    group root
    oneshot

on early-boot
    # SSR
    write /sys/bus/msm_subsys/devices/subsys0/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys1/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys2/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys3/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys4/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys5/restart_level RELATED

on post-fs
    # Sony shell
    exec_start sony_sh

    # SKU
    setprop ro.boot.product.hardware.sku ${ro.vendor.somc.model}

    # Telephony
    setprop persist.radio.multisim.config ${vendor.radio.multisim.config}

on property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x320D

on property:sys.usb.config=mass_storage && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.config=mtp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x520D

on property:sys.usb.config=ptp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0xA20D

on property:sys.usb.config=ptp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0xB20D

on property:sys.usb.config=rndis,none && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x720D

on property:sys.usb.config=rndis,serial_cdev,diag && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=diag,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=diag,diag_mdm,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mass_storage,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x520D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,diag,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,none,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D
