#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on early-init
    # Memory
    write /proc/sys/vm/page-cluster 0

    # zRAM
    write /sys/block/zram0/comp_algorithm lz4

on init
    # SONY: Start the TrimArea Daemon. It must be started before fota-ua
    wait /dev/block/platform/soc/4744000.sdhci
    symlink /dev/block/platform/soc/4744000.sdhci /dev/block/bootdevice
    wait /dev/block/mmcblk0p1
    chown oem_2997 oem_2997 /dev/block/mmcblk0p1
    chmod 0770 /dev/block/mmcblk0p1
    class_start trimarea
    exec u:r:tad:s0 system -- /vendor/bin/wait4tad

    # Memory
    write /proc/sys/vm/swappiness 100

    # Wakeup IRQ
    write /sys/devices/platform/wakeup_debug.0/enable 1

on charger
    # Charger
    start chg-pwr-service

    # Backlight
    chown system system /sys/class/backlight/panel0-backlight/brightness

    # Power
    chmod 0664 /sys/class/power_supply/battery/bootup_shutdown_phase
    chmod 0664 /sys/class/power_supply/battery/charging_enabled
    chmod 0664 /sys/class/power_supply/battery/enable_shutdown_at_low_battery
    chmod 0664 /sys/class/power_supply/battery/lrc_enable
    chmod 0664 /sys/class/power_supply/battery/system_temp_level
    chmod 0664 /sys/class/power_supply/battery/uevent
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_icl
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_fcc
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_indication_control
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_enable
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_socmax
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_socmin
    chmod 0664 /sys/class/power_supply/bms/batt_aging_level
    chmod 0664 /sys/class/power_supply/bms/charge_full
    chmod 0664 /sys/class/power_supply/usb/uevent

    # RGB LEDs
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/lut_pwm
    chown system system /sys/class/leds/blue/step_duration
    chown system system /sys/class/leds/blue/pause_lo_multi
    chown system system /sys/class/leds/blue/pause_hi_multi
    chown system system /sys/class/leds/blue/max_single_brightness
    chown system system /sys/class/leds/blue/max_mix_brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/lut_pwm
    chown system system /sys/class/leds/green/step_duration
    chown system system /sys/class/leds/green/pause_lo_multi
    chown system system /sys/class/leds/green/pause_hi_multi
    chown system system /sys/class/leds/green/max_single_brightness
    chown system system /sys/class/leds/green/max_mix_brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/lut_pwm
    chown system system /sys/class/leds/red/step_duration
    chown system system /sys/class/leds/red/pause_lo_multi
    chown system system /sys/class/leds/red/pause_hi_multi
    chown system system /sys/class/leds/red/max_single_brightness
    chown system system /sys/class/leds/red/max_mix_brightness
    chown system system /sys/class/leds/rgb/sync_state
    chown system system /sys/class/leds/rgb/start_blink

    # USB
    chmod 0664 /sys/class/usbpd/usbpd0/select_pdo
    chmod 0664 /sys/class/usbpd/usbpd0/uevent

    write /config/usb_gadget/g1/os_desc/use 0
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration mass_storage
    write /config/usb_gadget/g1/idProduct 0xeeee
    write /config/usb_gadget/g1/idVendor 0x0fce
    symlink /config/usb_gadget/g1/functions/mass_storage.0 /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}

on post-fs
    # SONY: Start shell script
    exec_start sony_sh

    # Display
    chown system system /sys/devices/dsi_panel_driver/area_count
    chown system system /sys/devices/dsi_panel_driver/flm2_mode
    chown system system /sys/devices/dsi_panel_driver/hbm_mode

    # Graphics
    chown system graphics /dev/graphics/fb0
    chown system graphics /dev/graphics/fb1
    chown system graphics /dev/graphics/fb2

    # Sensors
    chown system system /mnt/vendor/persist/sensors
    chown system system /mnt/vendor/persist/sensors/sns.reg
    chown system system /mnt/vendor/persist/sensors/sensors_list.txt
    chown system system /mnt/vendor/persist/sensors/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry/sensors_registry
    chown system system /mnt/vendor/persist/sensors/sensors_settings
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_config
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_version
    chown system system /mnt/vendor/persist/sensors/registry/config
    chmod 0664 /mnt/vendor/persist/sensors/sensors_settings
    exec - system system -- /vendor/bin/somc_reg_update

    # SKU
    setprop ro.boot.product.hardware.sku ${ro.vendor.somc.model}

    # Telephony
    setprop persist.radio.multisim.config ${vendor.radio.multisim.config}

on post-fs-data
    # Charger
    start chg-pwr-service

    # Fingerprint
    start ets_hal
    chown system system /dev/esfp0
    chmod 0600 /dev/esfp0

    # Power
    chmod 0664 /sys/class/power_supply/battery/lrc_enable
    chmod 0664 /sys/class/power_supply/battery/bootup_shutdown_phase
    chmod 0664 /sys/class/power_supply/battery/charging_enabled
    chmod 0664 /sys/class/power_supply/battery/enable_shutdown_at_low_battery
    chmod 0664 /sys/class/power_supply/battery/system_temp_level
    chmod 0664 /sys/class/power_supply/battery/uevent
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_icl
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_fcc
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_indication_control
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_enable
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_socmax
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_socmin
    chmod 0664 /sys/class/power_supply/bms/charge_full
    chmod 0664 /sys/class/power_supply/bms/batt_aging_level
    chmod 0664 /sys/class/power_supply/usb/uevent

    write /sys/class/power_supply/battery/enable_shutdown_at_low_battery 1

    # USB
    chmod 0664 /sys/class/usbpd/usbpd0/select_pdo
    chmod 0664 /sys/class/usbpd/usbpd0/uevent

    # Wifi Display
    mkdir /data/vendor/wfd 0770 system system

on early-boot
    # SSR
    write /sys/bus/msm_subsys/devices/subsys0/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys1/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys2/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys3/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys4/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys5/restart_level RELATED

on boot
    # Display
    chmod 0600 /sys/devices/virtual/sec/tsp/cmd
    chmod 0600 /sys/devices/virtual/sec/tsp/module_id
    chown system system /sys/devices/virtual/sec/tsp/cmd
    chown system system /sys/devices/virtual/sec/tsp/module_id

    write /sys/devices/virtual/sec/tsp/after_work 1
    write /sys/module/sec_touchscreen/parameters/report_rejected_event 1

    # Enable smart charging
    write /sys/class/power_supply/battery_ext/smart_charging_interruption 1

    # Memory
    write /proc/sys/vm/dirty_ratio 5
    write /proc/sys/vm/dirty_background_ratio 1

    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

    # USB
    chown root system /config/usb_gadget/g1

    # Water detection
    chmod 0660 /sys/devices/virtual/water_detection/wdet/wdet_polling_restart
    chown system system /sys/devices/virtual/water_detection/wdet/wdet_polling_restart

on property:persist.vendor.battery.smt_chg=activate
    write /sys/class/power_supply/battery_ext/smart_charging_activation 1

on property:persist.vendor.battery.smt_chg=charging_suspend
    write /sys/class/power_supply/battery_ext/smart_charging_interruption 1

on property:persist.vendor.battery.smt_chg=charging_resume
    write /sys/class/power_supply/battery_ext/smart_charging_interruption 0

on property:ro.boot.verifiedbootstate=orange
    setprop persist.sys.usb.config adb

on property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x320D

on property:sys.usb.config=mass_storage && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.config=mtp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x520D

on property:sys.usb.config=ptp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0xA20D

on property:sys.usb.config=ptp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0xB20D

on property:sys.usb.config=rndis,none && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x720D

on property:sys.usb.config=rndis,serial_cdev,diag && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=diag,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=diag,diag_mdm,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mass_storage,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x520D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,diag,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,none,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

# For Japan SKU, always enforce camera shutter sound
# Since this property is read by the audio server in system service,
# it should be written by the system init.
on property:ro.boot.product.hardware.sku=XQ-AU42
    setprop audio.camerasound.force true

# SONY: TrimArea Daemon
service tad /vendor/bin/tad /dev/block/bootdevice/by-name/TA 0,16
    user oem_2997
    group oem_2997 root
    socket tad stream 0660 system oem_2993
    class trimarea

# SONY: chg-pwr-service
service chg-pwr-service /vendor/bin/chg-pwr-service
    user system
    # Add wakelock to the group of chg-pwr-service for access "/sys/power/wake_lock" and "/sys/power/wake_unlock".
    group system root wakelock
    disabled

service sony_sh /vendor/bin/init.sony.sh
    user root
    group root
    oneshot
