# Copyright (c) 2019 Sony Mobile Communications Inc.
#
# product specific configuration
#

# Set value in property to sysfs for LRC mode
on property:persist.vendor.battery.charge=0
    write /sys/class/power_supply/battery/lrc_enable 0
    write /sys/class/power_supply/battery_ext/lrc_enable 0
    write /sys/class/power_supply/battery_ext/lrc_socmax 0
    write /sys/class/power_supply/battery_ext/lrc_socmin 0

on property:persist.vendor.battery.charge=1
    write /sys/class/power_supply/battery_ext/lrc_socmax 60
    write /sys/class/power_supply/battery_ext/lrc_socmin 40
    write /sys/class/power_supply/battery_ext/lrc_enable 1
    write /sys/class/power_supply/battery/lrc_enable 1
