on property:persist.sys.device_provisioned=1
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,5,6,7
    setprop dalvik.vm.dex2oat-threads 6

on property:sys.boot_completed=1
    setprop vendor.setup.power 1

    # Back to default VM settings
    write /proc/sys/vm/dirty_expire_centisecs 3000
    write /proc/sys/vm/dirty_background_ratio 10

    # Setup runtime cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-3,5-7
    write /dev/cpuset/background/cpus 2-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3

    # Setup runtime blkio
    # value for group_idle is us
    write /dev/blkio/blkio.weight 1000
    write /dev/blkio/background/blkio.weight 200
    write /dev/blkio/blkio.group_idle 2000
    write /dev/blkio/background/blkio.group_idle 0

on property:vendor.post_boot.parsed=1
    # IRQ Tuning
    # IRQ 218: msm_drm
    # IRQ 209: kgsl-3d0
    write /proc/irq/218/smp_affinity_list 2
    write /proc/irq/209/smp_affinity_list 1

on property:vendor.setup.power=1
    # Enable EAS
    write /proc/sys/kernel/sched_energy_aware 1

    # Sched Tunables
    write /proc/sys/kernel/sched_autogroup_enabled 0
    write /proc/sys/kernel/sched_downmigrate 65
    write /proc/sys/kernel/sched_downmigrate_boosted 50
    write /proc/sys/kernel/sched_upmigrate 70
    write /proc/sys/kernel/sched_upmigrate_boosted 70

    # Enable powersaving
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    #Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

# Skip init trigger for charger mode
on early-init && property:ro.boot.mode=charger
    setprop vendor.skip.init 1

on init && property:vendor.skip.init=0
    # Disable powersaving
    write /sys/module/lpm_levels/parameters/sleep_disabled 1

    # bring back all cores
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000

    # configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 10000

    # set default schedTune value for foreground/top-app
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # set default schedTune value for camera-daemon
    write /dev/stune/camera-daemon/schedtune.prefer_idle 1
    write /dev/stune/camera-daemon/schedtune.boost 0

    # Report max frequency to unity tasks.
    write /proc/sys/kernel/sched_lib_name "UnityMain,libunity.so"
    write /proc/sys/kernel/sched_lib_mask_force 255

on post-fs
    # Start services for bootanim
    start surfaceflinger
    start bootanim
    start vendor.hwcomposer-2-4
    start vendor.configstore-hal
    start vendor.qti.hardware.display.allocator
    start vendor.light
