on early-init
    write /sys/module/msm_rtb/parameters/enable 0

    # change the compression algorithm for zRAM
    write /sys/block/zram0/comp_algorithm lz4

    write /dev/stune/schedtune.boost 50
    write /dev/stune/schedtune.prefer_idle 1

on init
    # SONY: Start the TrimArea Daemon. It must be started before fota-ua
    wait /dev/block/mmcblk0p1
    chown oem_2997 oem_2997 /dev/block/mmcblk0p1
    chmod 0770 /dev/block/mmcblk0p1
    class_start trimarea
    start tad

    write /proc/sys/vm/swappiness 100

    # SONY: Enable wakeup irq module
    write /sys/devices/platform/wakeup_debug.0/enable 1

on fs
    # early option is required
    # because mount_all w/o option will handle encryption related code.
    mount_all /vendor/etc/idd.fstab --early
    # When partition formatted, mount command is required twice.
    mount_all /vendor/etc/idd.fstab --early

    # prepare idd partition
    restorecon_recursive /mnt/idd
    chown oem_2987 oem_2987 /mnt/idd
    chmod 0751 /mnt/idd
    mkdir /mnt/idd/output 0755 oem_2987 oem_2987
    mkdir /mnt/idd/startup-prober 0700 root root

    mkdir /dev/socket/idd 0711 oem_2987 oem_2987

    # Make fsck directory for fsck report.
    mkdir /mnt/idd/fsck 0770 root system

    # prepare rca partition
    restorecon_recursive /mnt/rca
    chown oem_2987 oem_2987 /mnt/rca
    chmod 0750 /mnt/rca
    mkdir /mnt/rca/plugins 0750 oem_2987 oem_2987

    restorecon_recursive /mnt/idd/output

on post-fs
    # Display
    chown system system /sys/devices/dsi_panel_driver/flm2_mode

    # System setting access from white balance app into fb.
    chown system graphics /dev/graphics/fb0
    chown system graphics /dev/graphics/fb1
    chown system graphics /dev/graphics/fb2

    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

    # Transfer sensor json files
    chown system system /mnt/vendor/persist/sensors/registry

    # Display
    chown system system /sys/devices/dsi_panel_driver/area_count
    chown system system /sys/devices/dsi_panel_driver/hbm_mode

    # Fingerprint EGIS irq
    chown system system /dev/esfp0
    chmod 0600 /dev/esfp0

    # Sensor
    chown system system /mnt/vendor/persist/sensors
    chown system system /mnt/vendor/persist/sensors/sns.reg
    chown system system /mnt/vendor/persist/sensors/sensors_list.txt
    chown system system /mnt/vendor/persist/sensors/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry/sensors_registry
    chown system system /mnt/vendor/persist/sensors/sensors_settings
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_config
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_version
    chown system system /mnt/vendor/persist/sensors/registry/config
    chmod 0664 /mnt/vendor/persist/sensors/sensors_settings
    exec - system system -- /vendor/bin/somc_reg_update

on early-boot
    # ta_qmi_service use wakelock before on boot, so add permission here.
    chown radio wakelock /sys/power/wake_lock
    chown radio wakelock /sys/power/wake_unlock
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    start ta_qmi_service
    start sct_service
    start mlog_qmi_service

# Trim Area QMI service
service ta_qmi_service /system/vendor/bin/ta_qmi_service
    user root
    disabled

# Modem log qmi service
service mlog_qmi_service /vendor/bin/mlog_qmi_service
   user root
   disabled

# Secure Config Transfer service
service sct_service /vendor/bin/sct_service
   user root
   disabled

on boot
    write /sys/devices/virtual/sec/tsp/after_work 1
    write /sys/module/sec_touchscreen/parameters/report_rejected_event 1

    chown system system /sys/devices/virtual/sec/tsp/module_id
    chmod 0600 /sys/devices/virtual/sec/tsp/module_id
    chown system system /sys/devices/virtual/sec/tsp/cmd
    chmod 0600 /sys/devices/virtual/sec/tsp/cmd

    write /proc/sys/vm/dirty_ratio 5
    write /proc/sys/vm/dirty_background_ratio 1
    chown system system /sys/devices/virtual/water_detection/wdet/wdet_polling_restart
    chmod 0660 /sys/devices/virtual/water_detection/wdet/wdet_polling_restart

on charger
    # power_supply sysfs
    chmod 0664 /sys/class/power_supply/battery/charging_enabled
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_socmax
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_socmin
    chmod 0664 /sys/class/power_supply/battery/lrc_enable
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_enable
    chmod 0664 /sys/class/power_supply/battery/system_temp_level
    chmod 0664 /sys/class/power_supply/battery/uevent
    chmod 0664 /sys/class/power_supply/battery/bootup_shutdown_phase
    chmod 0664 /sys/class/power_supply/battery/enable_shutdown_at_low_battery
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_icl
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_fcc
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_indication_control
    chmod 0664 /sys/class/power_supply/bms/charge_full
    chmod 0664 /sys/class/power_supply/bms/batt_aging_level
    chmod 0664 /sys/class/power_supply/usb/uevent

    # usbpd sysfs
    chmod 0664 /sys/class/usbpd/usbpd0/select_pdo
    chmod 0664 /sys/class/usbpd/usbpd0/uevent

    # backlight
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness

    # led RGB
    chown system system /sys/class/leds/rgb/sync_state
    chown system system /sys/class/leds/rgb/start_blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/lut_pwm
    chown system system /sys/class/leds/red/step_duration
    chown system system /sys/class/leds/red/pause_lo_multi
    chown system system /sys/class/leds/red/pause_hi_multi
    chown system system /sys/class/leds/red/max_single_brightness
    chown system system /sys/class/leds/red/max_mix_brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/lut_pwm
    chown system system /sys/class/leds/green/step_duration
    chown system system /sys/class/leds/green/pause_lo_multi
    chown system system /sys/class/leds/green/pause_hi_multi
    chown system system /sys/class/leds/green/max_single_brightness
    chown system system /sys/class/leds/green/max_mix_brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/lut_pwm
    chown system system /sys/class/leds/blue/step_duration
    chown system system /sys/class/leds/blue/pause_lo_multi
    chown system system /sys/class/leds/blue/pause_hi_multi
    chown system system /sys/class/leds/blue/max_single_brightness
    chown system system /sys/class/leds/blue/max_mix_brightness

    # The charge_service/chargemon use wakelock before on boot, so add permission here.
    chown radio wakelock /sys/power/wake_lock
    chown radio wakelock /sys/power/wake_unlock
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock

    # charge_service
    start charge_service

    # Set USB mode to MSC for SDP charging
    write /config/usb_gadget/g1/os_desc/use 0
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration mass_storage
    write /config/usb_gadget/g1/idProduct 0xeeee
    write /config/usb_gadget/g1/idVendor 0x0fce
    symlink /config/usb_gadget/g1/functions/mass_storage.0 /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}

    # chargemon
    start chargemon

on post-fs-data
    mkdir /data/vendor/pc/ 0770 radio system
    chown system system /data/vendor/pc/cache_0.dat
    chown system system /data/vendor/pc/cache_1.dat
    mkdir /mnt/vendor/persist/credmgr 0700 system system

    # create directory for wfd
    mkdir /data/vendor/wfd 0770 system system

    # power_supply sysfs
    chmod 0664 /sys/class/power_supply/battery/charging_enabled
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_socmax
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_socmin
    chmod 0664 /sys/class/power_supply/battery/lrc_enable
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_enable
    chmod 0664 /sys/class/power_supply/battery/system_temp_level
    chmod 0664 /sys/class/power_supply/battery/uevent
    chmod 0664 /sys/class/power_supply/battery/bootup_shutdown_phase
    chmod 0664 /sys/class/power_supply/battery/enable_shutdown_at_low_battery
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_icl
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_fcc
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_indication_control
    chmod 0664 /sys/class/power_supply/bms/charge_full
    chmod 0664 /sys/class/power_supply/bms/batt_aging_level
    chmod 0664 /sys/class/power_supply/usb/uevent

    # usbpd sysfs
    chmod 0664 /sys/class/usbpd/usbpd0/select_pdo
    chmod 0664 /sys/class/usbpd/usbpd0/uevent

    # The charge_service/chargemon use wakelock before on boot, so add permission here.
    chown radio wakelock /sys/power/wake_lock
    chown radio wakelock /sys/power/wake_unlock
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock

    write /sys/class/power_supply/battery/enable_shutdown_at_low_battery 1

    # charge_service
    start charge_service

    # create directory for wfd
    mkdir /data/vendor/wfd 0770 system system

    # start fingerprint HAL service
    start ets_hal

# SONY: Start early TA-users
    mkdir /data/vendor/etc 0755 root shell
    exec u:r:taimport_vendor:s0 -- /vendor/bin/taimport_vendor

# SONY: TrimArea Daemon
# Last 2 args: start block(blk size 128k), number of blocks(partitionsize(kb)/128(kb))
service tad /vendor/bin/tad /dev/block/bootdevice/by-name/TA 0,16
    user oem_2997
    group oem_2997 root
    socket tad stream 0660 system oem_2993
    class core

service iddd /vendor/bin/iddd
    class core
    user oem_2987
    group oem_2987 log inet oem_2993
    writepid /dev/cpuset/system-background/tasks
    disabled

# start secd service
service vendor.semc.hardware.secd-1-0 /vendor/bin/hw/vendor.semc.hardware.secd@1.0-service
    class hal
    user system
    group system

service vendor.semc.system.idd-1-0 /vendor/bin/hw/vendor.semc.system.idd@1.0-service
    class hal
    user oem_2987
    group oem_2987 log inet oem_2993
    writepid /dev/cpuset/system-background/tasks

service vendor.somc.hardware.miscta-1-0 /vendor/bin/hw/vendor.somc.hardware.miscta@1.0-service
   class hal core
   user system
   group system

service thermal-engine /vendor/bin/thermal-engine
	class main
	user root
	group root system oem_2929 oem_2993
	socket thermal-send-client stream 0660 system oem_2907
	socket thermal-recv-client stream 0660 system oem_2907
	socket thermal-recv-passive-client stream 0660 system oem_2907
	socket thermal-send-rule stream 0660 system oem_2907

on property:ro.boot.verifiedbootstate=orange
    setprop persist.sys.usb.config adb

# chargemon
service chargemon /vendor/bin/chargemon
    user system
    group root system oem_2993 wakelock input
    capabilities SYS_BOOT
    disabled

# Charge service
service charge_service /vendor/bin/charge_service
    user system
    group system root oem_2993 wakelock
    disabled

# Boot completed notification for ChargeService
on property:sys.boot_completed=1
    write /sys/class/power_supply/battery/bootup_shutdown_phase 3
    write /sys/class/power_supply/battery/uevent change

    write /dev/stune/schedtune.prefer_idle 0
    write /dev/stune/schedtune.boost 0

on property:vendor.post_boot.parsed=1
    # Setup cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-2,5-7
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3

    # Setup cpu boosting
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1305600 4:1401600"
    write /sys/module/cpu_boost/parameters/input_boost_ms 100
    write /sys/module/cpu_boost/parameters/powerkey_input_boost_freq "0:1804800 4:2016000"
    write /sys/module/cpu_boost/parameters/powerkey_input_boost_ms 750

    # Setup default schedTune value for foreground/top-app
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Setup scheduler tunables
    write /proc/sys/kernel/sched_upmigrate 85
    write /proc/sys/kernel/sched_downmigrate 75
    write /proc/sys/kernel/sched_child_runs_first 1

    # Setup EAS tunables
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1612800
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/pl 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 864000

    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_freq 1804800
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/pl 1
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 902400

    # Report max frequency to unity tasks
    write /proc/sys/kernel/sched_lib_name "UnityMain,libunity.so"
    write /proc/sys/kernel/sched_lib_mask_force 255

    # ZRAM setup
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 8
    write /proc/sys/vm/page-cluster 0

    # Override readahead to 128KiB
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk1/queue/read_ahead_kb 128

# Shutdown notification for ChargeService
on property:sys.shutdown.requested=*
    write /sys/class/power_supply/battery/bootup_shutdown_phase 4
    write /sys/class/power_supply/battery/uevent change

# Set value in property to sysfs for SmartCharge
on property:persist.vendor.battery.smt_chg=activate
    write /sys/class/power_supply/battery_ext/smart_charging_activation 1

on property:persist.vendor.battery.smt_chg=charging_suspend
    write /sys/class/power_supply/battery_ext/smart_charging_interruption 1

on property:persist.vendor.battery.smt_chg=charging_resume
    write /sys/class/power_supply/battery_ext/smart_charging_interruption 0

# Set value in property to sysfs for LRC mode
on property:persist.vendor.battery.charge=0
    write /sys/class/power_supply/battery/lrc_enable 0
    write /sys/class/power_supply/battery_ext/lrc_enable 0
    write /sys/class/power_supply/battery_ext/lrc_socmax 0
    write /sys/class/power_supply/battery_ext/lrc_socmin 0

on property:persist.vendor.battery.charge=1
    write /sys/class/power_supply/battery_ext/lrc_socmax 60
    write /sys/class/power_supply/battery_ext/lrc_socmin 40
    write /sys/class/power_supply/battery_ext/lrc_enable 1
    write /sys/class/power_supply/battery/lrc_enable 1

on property:persist.usb.eng=1 && property:sys.usb.config=usr_mode,adb
    setprop sys.usb.config eng_mode,adb

on property:persist.usb.eng=0 && property:sys.usb.config=eng_mode,adb
    setprop sys.usb.config usr_mode,adb

on property:persist.usb.eng=1 && property:sys.usb.config=usr_mode,rndis,adb
    setprop sys.usb.config eng_mode,rndis,adb

on property:persist.usb.eng=0 && property:sys.usb.config=eng_mode,rndis,adb
    setprop sys.usb.config usr_mode,rndis,adb
